
.work-section{
   
      
        justify-content: space-between;
       margin-top: 5%;
        display: flex;   
}


.desk-img img{
        height: 400px;
        width: 400px; 
        margin-left: 27%;   
        padding: 30px;
}

.left-text{
        margin-right: 2%;
        align-items: center;
        justify-content: center;
        width: 600px;
}

.left-text img{
        height: 100px;
}

.left-text h1{
text-align: left;
font-weight: 600;
font-size: 30px;
}


.left-text p{
text-align: left;
 font-size: 1rem;
 }

 
.workstation-btn  {
        margin-top: 2vh;
        background-color: black;
       color: white;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
      }
      
      .workstation-btn img{
        width: 20px;
        margin-left: 10px;
        height: 40px;
      }