

.Language-section{
    align-items: center;
    justify-content: center;
}

.Language-words{
    width: 100%;
    height: 500px;
}

.Language-words h1 {

    text-align: center;
    
}

.Language-words p{

    text-align: center;

}