
.social-container{
    height: 100%;
    margin-left: 10%;
    width: 80%;
    margin-top: 5%;
   

}

.social-container h2{
    width: 100%;
    text-align: center;
    font-size: 2.75em;
    margin: 0.5em ;
    font-weight: 600;
    color: #070024;
}

.social-container .services{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social-container .services .card{
    width: 350px;
    text-align: center;
    background: #fafafa;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.social-container .services .card:hover{
    background: #E9AB17;
}

.social-container .services .card .content{
    transition: 0.3s;
}

.social-container .services .card:hover .content{
    transform: scale(1.07);
}

.social-container .services .card .content .icon{
    padding: 5px 0;
    color: white;
}

.social-container .services .card .content .icon i{
    font-size: 40px;
}

.social-container .services .card:hover .content .title{
    color: white;
}

.social-container .services .card .content .title{
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
