




.Banner-main{
    display: flex;
}
.Banner-section{
    background: linear-gradient(rgba(7, 7, 7, 0.7),rgba(20, 20, 20, 0.7)),url('../../assets/stu.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 60%;
    margin: 40px;
    margin-left: 10vh;
    display: flex;
    
}

.Banner-section h2{
  padding: 62px;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
}




.Banner-layer{
    background-color: #E9AB17;
    height: 80px;
    width: 150px;
}


.right-text h2{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 30px;
}
.right-text p{
    text-align: left;
    line-height: 2rem;
}